APScheduler==3.10.4
fastapi==0.103.*
#hoppy @ git+https://github.com/department-of-veterans-affairs/abd-vro.git@shared/lib-hoppy-0.3#subdirectory=shared/lib-hoppy
-e ../../../shared/lib-hoppy
httpx==0.24.*
psycopg2-binary==2.9.9
pydantic==2.4.*
pytest==7.3.1
pytest-env==1.0.1
pytest-mock==3.11.1
python-statemachine==2.1.*
SQLAlchemy==2.0.23
starlette>=0.27.0
uvicorn[standard]==0.20.*
