/**
 * Configurations for publishing jar files
 */

plugins {
    id 'maven-publish'
}

publishing {
    publications {
        libJarArtifact(MavenPublication) {
            from components.java
        }
    }
}
