/**
 * Tasks for debugging build problems
 * - printSourceSetInformation  outputs source set content and classpath info for each type
 */

tasks.register('printSourceSetInformation'){
    group = JavaBasePlugin.DOCUMENTATION_GROUP
    description = "Show source set definitions"
    doLast{
        sourceSets.each { srcSet ->
            println "["+srcSet.name+"]"
            print "-->Source directories: "+srcSet.allJava.srcDirs+"\n"
            print "-->Output directories: "+srcSet.output.classesDirs.files+"\n"
            print "-->Compile classpath:\n"
            srcSet.compileClasspath.files.each {
                print "  "+it.path+"\n"
            }
            println ""
        }
    }
}
