
ext {
    /**
     * Utility function for choosing between a team-defined configuration and a default core-define value.
     *
     * @param value variable (or null)
     * @param defaultValue return value if null
     * @return one or the other value
     */
    getValueOrDefault = { String value, String defaultValue ->
        return !value ? defaultValue : value;
    }

    /**
     * Utility function for choosing between a team-defined configuration and a default core-define value.
     *
     * @param value variable name (as String)
     * @param defaultValue return value if null
     * @return one or the other value
     */
    getPropertyOrDefault = { String propertyName,  defaultValue ->
        return project.hasProperty(propertyName) ? project.properties[propertyName] : defaultValue;
    }

    /**
     * Utility function for choosing between a team-defined configuration and a default core-define value.
     *
     * @param tagName environment variable name (or null)
     * @param defaultValue return value if environment value is null or doesn't exist
     * @return environment value or default
     */
    getEnvOrDefault = { String tagName, String defaultValue ->
        String ref = System.getenv(tagName)
        return !ref ? defaultValue : ref;
    }
}

