/**
 * Provides a set of common dependencies for typical build.
 * Includes proper dependencies for lombok and mapstruct annotation processing.
 */

// starter.java.build-javatarget-conventions

dependencies {
    implementation 'com.fasterxml.jackson.datatype:jackson-datatype-jsr310'

    implementation "org.zalando:problem-spring-web"
    implementation "org.springdoc:springdoc-openapi-ui"
    implementation "org.springdoc:springdoc-openapi-webmvc-core"
    //implementation "org.springdoc:springdoc-openapi-security"
    implementation "org.springdoc:springdoc-openapi-data-rest"
    implementation 'org.mapstruct:mapstruct'

    compileOnly 'org.projectlombok:lombok'

    annotationProcessor 'org.projectlombok:lombok'
    annotationProcessor 'org.mapstruct:mapstruct-processor'

}

