/**
 * Configuration for test task
 */
plugins {
    id 'java'
}

test {
    useJUnitPlatform {
//        excludeEngines 'junit-vintage'
    }
    testLogging {
        events = ["failed"]
        exceptionFormat = "short"
        showStandardStreams = project.hasProperty("showStandardStreams") ?: false
        showExceptions = true
        showCauses = false
        showStackTraces = false
        debug {
            events = ["started", "skipped", "failed"]
            showStandardStreams = true
            exceptionFormat = "full"
            showExceptions = true
            showCauses = true
            showStackTraces = true
        }
        info {
            events = ["skipped", "failed"]
            exceptionFormat = "short"
            showExceptions = true
            showCauses = true
            showStackTraces = true
        }
        minGranularity = 2
        maxGranularity = 4
        displayGranularity = 0
    }
}


