#Ignoring the password file
all-secrets.txt

# Files possibly copied from repo abd-vro-dev-secrets
./setenv.sh

#Ignoring cache folders
.cache
.monokle
.gradle/
.gradletasknamecache
build/
/out/
/target/
/reports/
docker-machine-driver-hyperkit
.DS_Store
.vs

target/

.metals

.pid
.envrc
.java-version
.venv

helm-app/envsecrets.env
tasks/config.temp.dev
/bin
!**/app/bin
opa/ingress/test.rego
helm-app/opa-policies/ingress/test.rego

# Created by scripts/image-names.sh
.github/secrel/config-updated.yml
helm-app/values-updated.yaml

api/bin/**/*.class
app/bin/**/*.class
controller/bin/**/*.class
service/provider/bin/**/*.class
service/spi/bin/**/*.class

local.properties

HELP.md
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
#!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.run/*
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### patch cruft
*.orig
*.rej

*DS_Store
.\!*

### Python
__pycache__
*.pyc
.coverage
/.vs/slnx.sqlite
/.vs/abd-vro/FileContentIndex/read.lock
/.vs/abd-vro/FileContentIndex/d9cecb17-da86-4db6-949a-55ee188e92e2.vsidx
/.vs/abd-vro/FileContentIndex/d645400a-4168-45dd-9581-09680a72a8ce.vsidx
/.vs/abd-vro/FileContentIndex/c3518251-e5db-40fa-ae34-3e693cabee02.vsidx
/.vs/abd-vro/FileContentIndex/95bd278b-111f-47e3-ba07-4bd218c9f0f2.vsidx

### PDF Generator Specific Files
test.pdf
test.html
*_toc.xsl
!base_toc.xsl

## BIE Kafka files for testing
mocks/mock-bie-kafka/kafka.keystore.jks
mocks/mock-bie-kafka/kafka.truststore.jks
svc-bie-kafka/keystore.p12
svc-bie-kafka/truststore.p12
