.idea/
.gradle/
.gradletasknamecache
build/
/out/
/target/
/reports/
docker-machine-driver-hyperkit
.DS_Store

target/

.metals

.pid
.envrc
.java-version
.venv

helmchart/envsecrets.env
tasks/config.temp.dev
/bin
!**/app/bin
opa/ingress/test.rego
helmchart/opa-policies/ingress/test.rego

local.properties

HELP.md
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
#!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### patch cruft
*.orig
*.rej

*DS_Store
.\!*
