# FIXME: Why is this needed?
server:
  port: 8091
# This file contains shared properties across all environments; it is always loaded by Spring
# See https://github.com/department-of-veterans-affairs/abd-vro/wiki/Configuration-settings#vros-use-of-spring-profiles

spring:
  profiles:
    active: ${ENV:default}

    ## Define Sprint Profile Groups with group names corresponding to the value of $ENV
    # Configure profile group so that application-nonprod.properties is loaded,
    # along with application-$ENV.properties, if it exists
    group:
      local: nonprod

      # and integrationTest
      integrationTest: nonprod

      # Remaining profiles are for deployment to LHDI's EKS environments
      # Configure profile group so that application-nonprod.properties and application-k8s.properties is loaded,
      # along with application-$ENV.properties, if it exists
      dev: nonprod,k8s
      qa: nonprod,k8s
      sandbox: nonprod,k8s

      # For prod, only load application-prod.properties and application-k8s.properties, if they exist
      prod: k8s

  ## RabbitMQ Settings
  rabbitmq:
    host: ${RABBITMQ_PLACEHOLDERS_HOST}
    port: 5672
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

abd-data-access:
  rabbitmq:
    claim-submit-exchange: claim-submit-exchange
    claim-submit-queue: claim-submit
    claim-submit-routing-key: code.#

## Lighthouse FHIR API

lh:
  clientId: ${LH_ACCESS_CLIENT_ID}
  pemkey: ${LH_PRIVATE_KEY}

## Health

management:
  endpoint:
    health:
      show-details: always
      enabled: true
      probes.enabled: true
      group.liveness.include: livenessState
      group.readiness.include: readinessState

  endpoints:
    enabled-by-default: false
    web.exposure.include: health

  server.port: 10101
