# This file is used when ENV="end2end-test" (in .github/workflows/end2end-test.yml)
# Compare this file with application-local.yml since the both run VRO via docker-compose
#
# File application-nonprod.yml will also be loaded due to the spring.profiles.group configuration in application.yml
# server-truststore and client-keystore hold the certificates for the Mock BIP CE Server (base64 p12 files)
spring.config.import: > 
  application-local.yml, 
  server-truststore.yml,
  client-keystore.yml

# Settings for Mutual TLS and Jwt authentication with the Mock BIP Evidence Server
bip:
  evidenceClientId: VRO
  evidenceSecret: theSecret
  evidenceBaseURL: "mock-bip-ce-api:8094"
  evidenceIssuer: VRO
  applicationName: VRO
  stationId: 281
truststore_password: keystore_pw
