spring:
  profiles:
    # See https://github.com/department-of-veterans-affairs/abd-vro/wiki/Configuration-settings#vros-use-of-spring-profiles
    active: ${ENV:default}

  # Specify where Spring connects to RabbitMQ
  rabbitmq:
    host: "${RABBITMQ_PLACEHOLDERS_HOST:localhost}"
    port: 5672
    username: "${RABBITMQ_PLACEHOLDERS_USERNAME:guest}"
    password: "${RABBITMQ_PLACEHOLDERS_USERPASSWORD:guest}"

  # Specify how Spring connects to Kafka
  kafka:
    bootstrap-servers: "${BIE_KAFKA_PLACEHOLDERS_BROKERS:localhost:9092}"
    properties:
      schema.registry.url: "${BIE_KAFKA_PLACEHOLDERS_BROKERS:https://schemaregistry.dev.bip.va.gov:443}"
      specific.avro.reader: false
    consumer:
      group-id: "${BIE_KAFKA_PLACEHOLDERS_GROUP_ID:vro-bie-tst-vro-2}"
      key-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
      value-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
      auto-offset-reset: earliest
      # Comment out the following line to connect without SSL
      security.protocol: SSL
      ssl:
        keystore-location: "file:${KEYSTORE_FILE}"
        keystore-password: "${BIE_KAFKA_KEYSTORE_PASSWORD}"
        key-store-type: "PKCS12"
        truststore-location: "file:${TRUSTSTORE_FILE}"
        truststore-password: "${BIE_KAFKA_TRUSTSTORE_PASSWORD}"
        trust-store-type: "PKCS12"

## Specify bie properties
bie:
  kakfa-topic-prefix: "TST_"

## Actuator for health check
management:
  server:
    port: 10301
  endpoint:
    health:
      show-details: always
      enabled: true
      probes:
        enabled: true
