<html>
<body style="font-family: Arial">
<h1>VRO API Gateway</h1>
Automated Benefits Delivery - Virtual Regional Office (ABD-VRO)
<p><a href="https://github.com/department-of-veterans-affairs/abd-vro">ABD-VRO GitHub Repo</a>
</p>

<h3>Swagger UI</h3>
APIs for each VRO tenant is available via VRO's <a href="webjars/swagger-ui/index.html">Swagger UI</a>.
<ul>
<li>Select the tenant from the "Select a definition" dropdown on the upper-right of the UI.</li>
<li>Each tenant page has a link to the API spec.</li>
</ul>

<h3>VRO info</h3>
<ul>
<li>VRO version: <span th:text="${model.version}" /></li>
</ul>

</body>
</html>
