apiVersion: apps/v1
kind: Deployment
metadata:
  name: vro-svc-bgs-api
  labels: {{- toYaml .Values.labels | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: # must match the pod template's labels
      {{- toYaml .Values.labels | nindent 6 }}
  template:
    metadata:
      labels:
        sidecar.istio.io/inject: "false"
        {{- toYaml .Values.labels | nindent 8 }}
      annotations:
        {{- include "vro.annotations.pod" . | nindent 8 }}
        {{- include "vro.annotations.reloadLatest" . | nindent 8 }}
    spec:
      {{- include "vro.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: svc-bgs-api{{ include "vro.containerSuffix" . }}
          image: {{ include "vro.imageRegistryPath" . }}vro-svc-bgs-api:{{ include "vro.imageTag" . }}
          env:
            {{- include "vro.commonEnvVars" . | nindent 12 }}
            {{- include "vro.mqClient.envVars" . | nindent 12 }}
            - name: VRO_SECRETS_BIP
              valueFrom:
                secretKeyRef:
                  name: vro-secrets
                  key: VRO_SECRETS_BIP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
