apiVersion: v1
kind: Service
metadata:
  # name is used as the hostname of the service
  name: {{ .Values.global.hostnamePrefix }}-redis
  labels: {{- toYaml .Values.labels | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.redis.sourcePort }}
      targetPort: {{ .Values.service.redis.targetPort }}
      protocol: TCP
      name: http
  selector: {{- toYaml .Values.labels | nindent 4 }}
