apiVersion: apps/v1
kind: Deployment
metadata:
  name: vro-domain-cc
  labels: {{- toYaml .Values.labels | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: # must match the pod template's labels
      {{- toYaml .Values.labels | nindent 6 }}
  template:
    metadata:
      labels:
        sidecar.istio.io/inject: "false"
        {{- toYaml .Values.labels | nindent 8 }}
      annotations:
        {{- include "vro.annotations.pod" . | nindent 8 }}
        {{- include "vro.annotations.reloadLatest" . | nindent 8 }}
    spec:
      {{- include "vro.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: cc-app{{ include "vro.containerSuffix" . }}
          image: {{ include "vro.imageRegistryPath" . }}vro-ee-app:{{ include "vro.imageTag" . }}
          ports:
            - containerPort: {{ .Values.service.ccApp.sourcePort }}
              protocol: TCP
              name: http
          env:
            {{- include "vro.commonEnvVars" . | nindent 12 }}
            {{- include "vro.mqClient.envVars" . | nindent 12 }}
            {{- include "vro.redisClient.envVars" . | nindent 12 }}
          resources:
            requests:
              cpu: 150m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1024Mi
