name: "1. (Internal) Continuous Delivery (to DEV daily)"

on:
  schedule:
    # Run every day at 19:00 UTC
    # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07
    - cron: '0 19 * * *'

  # Allow manual triggering
  workflow_dispatch:
    inputs:
      target_env:
        description: 'Target LHDI environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - qa
        - sandbox
        - prod-test
        - prod

      image_tag:
        description: 'Image tag: first 7 of commit hash, "latest", "v1.2.3", or "release-1.2.3"'
        required: true
        default: 'latest'
        type: string

jobs:
  deploy-vro-app:
    uses: ./.github/workflows/update-deployment-app.yml
    secrets: inherit
    with:
      target_env: ${{ inputs.target_env }}
      app: ${{ inputs.image_tag }}
      db_init: ${{ inputs.image_tag }}
  deploy-vro-svc-bgs-api:
    uses: ./.github/workflows/update-deployment.yml
    secrets: inherit
    with:
      target_env: ${{ inputs.target_env }}
      helm_chart: svc-bgs-api
      image_tag: ${{ inputs.image_tag }}
  deploy-vro-svc-lighthouse-api:
    uses: ./.github/workflows/update-deployment.yml
    secrets: inherit
    with:
      target_env: ${{ inputs.target_env }}
      helm_chart: svc-lighthouse-api
      image_tag: ${{ inputs.image_tag }}
  deploy-domain-cc:
    uses: ./.github/workflows/update-deployment.yml
    secrets: inherit
    with:
      target_env: ${{ inputs.target_env }}
      helm_chart: domain-cc
      image_tag: ${{ inputs.image_tag }}
