name: "CI"
# Runs Continuous Integration tests and checks
# See https://github.com/department-of-veterans-affairs/abd-vro/wiki/CI-CD-Workflows

on:
  pull_request:
    branches: [main, develop, domain-*]
    types: [ready_for_review, synchronize, opened, reopened]

  push:
    branches: [ develop, domain-* ]

  # Allow manual triggering
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  nondraft-pr:
    # Adding an `if:` that evaluates to false for this nondraft-pr job prevents other dependent jobs from running.
    # For github.event.pull_request fields, see
    # https://docs.github.com/en/webhooks-and-events/webhooks/webhook-events-and-payloads#pull_request
    if: github.event_name != 'pull_request' ||
      (github.event_name == 'pull_request' && !github.event.pull_request.draft )
    runs-on: ubuntu-latest
    steps:
    - name: "DEBUG"
      run: |
        echo "${{ github.event_name }} ${{ github.event.pull_request.draft }}"

  lint-and-test:
    uses: ./.github/workflows/test-code.yml
    secrets: inherit

  codeql:
    uses: ./.github/workflows/codeql-analysis.yml
    secrets: inherit

  container-healthchecks:
    needs: nondraft-pr
    uses: ./.github/workflows/container-healthchecks.yml
    secrets: inherit

#  xample-domain:
#    needs: nondraft-pr
#    uses: ./.github/workflows/xample-integration-test.yml
#    secrets: inherit
#
#  api-gateway:
#    needs: nondraft-pr
#    uses: ./.github/workflows/api-gateway-integration-test.yml
#    secrets: inherit
#
#  svc-bgs-api:
#    needs: nondraft-pr
#    uses: ./.github/workflows/svc-bgs-api-integration-test.yml
#    secrets: inherit

  svc-bip-api:
    needs: nondraft-pr
    uses: ./.github/workflows/svc-bip-api-integration-test.yml
    secrets: inherit

#  svc-bie-kafka-end-to-end:
#    needs: svc-bip-api
#    uses: ./.github/workflows/bie-kafka-end2end-test.yml
#    secrets: inherit
#
#  ee-ep-merge-end-to-end:
#    needs: nondraft-pr
#    uses: ./.github/workflows/ee-ep-merge-end-to-end.yml
#    secrets: inherit
