name: "9. (Internal) Delete old published non-DEV images"
on:
  schedule:
    # Run at 02:02 twice a month.
    # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07
    - cron: '2 2 5,19 * *'

  # Allow manual triggering
  workflow_dispatch:
    inputs:
      retain_days:
        description: 'Delete images older than this many days'
        required: true
        type: number
        default: 30
      keep_last:
        description: 'Minimum versions to keep'
        required: true
        type: number
        default: 10
      dry_run:
        description: 'Always do a dry-run first'
        required: true
        type: boolean
        default: true
      tag-pattern:
        description: 'Target LHDI environment'
        required: true
        type: choice
        options:
        - '^([a-z]|\d){7}$'
        - '^([a-z]|\d){40}$'
#        - '^sha256-([a-z]|\d){64}.sig$'
#        - '^release-1\.\d+\.\d+$'

jobs:
  delete_images:
    if: github.repository == 'department-of-veterans-affairs/abd-vro-internal'
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        repo:
        - abd-vro-internal
        package:
        - vro-postgres
        - vro-api-gateway
        - vro-app
        - vro-db-init
        - vro-svc-bgs-api
        - vro-svc-lighthouse-api
        - vro-svc-bie-kafka
        - vro-xample-workflows
        - vro-cc-app
        - vro-ee-max-cfi-app
    runs-on: ubuntu-latest
    steps:
    - name: "Delete old images in GHCR"
      uses: vlaurin/action-ghcr-prune@v0.5.0
      with:
        token: ${{ secrets.ACCESS_TOKEN_DELETE_PACKAGE }}
        organization: department-of-veterans-affairs
        container: ${{ matrix.repo }}/${{ matrix.package }}
        # Dry-run first, then change to `false`
        dry-run: ${{ inputs.dry_run }}
        keep-younger-than: ${{ inputs.retain_days || 30 }} # days
        # This applies to each of the 2 categories separately: prune-untagged and prune-tags-regexes
        keep-last: ${{ inputs.keep_last || 10 }}
        # Packages without a tag (shown as sha256:...)
        prune-untagged: true
        prune-tags-regexes: ${{ inputs.tag-pattern || '^([a-z]|\d){7}$' }}
