name: "7. Fast-forward merge the develop branch"
run-name: "Fast-forward merge to ${{inputs.domain_branch}}"

on:
  workflow_dispatch:
    inputs:
      domain_branch:
        description: 'Target domain branch'
        required: true
        type: choice
        options:
        - domain-cc

jobs:
  fast-forward-develop:
    # only run in public repo
    if: github.repository == 'department-of-veterans-affairs/abd-vro'
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source code"
        uses: actions/checkout@v3
        with:
          # Checkout using a PAT so that we can do `git push` later
          token: ${{ secrets.ACCESS_TOKEN_PUSH_TO_DEVELOP }}

      - name: "Checkout branch ${{ inputs.domain_branch }}"
        run: |
          git fetch origin ${{ inputs.domain_branch }}
          git checkout --track origin/${{ inputs.domain_branch }}

      - name: "Before merge: Git log graph ${{ inputs.domain_branch }}"
        run: |
          {
            echo "## Before merge: Git log graph of ${{ inputs.domain_branch }}"
            echo '```'
            git log --graph --decorate --date=relative --since="2 months ago" \
              --pretty=format:'%C(bold blue)%h%C(reset) %C(green)(%ar) %C(white)- %C(reset)%C(yellow)%d%C(reset) %C(white)%s%C(reset)' \
              origin/develop..origin/${{ inputs.domain_branch }}
            echo ''
            echo '```'
          } | tee -a $GITHUB_STEP_SUMMARY

      - name: "Fast-forward merge ${{ inputs.domain_branch }}"
        run: |
          git checkout develop
          git merge --ff-only ${{ inputs.domain_branch }}
          git push origin

      - name: "After merge: Git log graph ${{ inputs.domain_branch }}"
        run: |
          {
            echo '## After merge: Git log graph'
            echo '```'
            git log --graph --decorate --date=relative --since="2 months ago" \
              --pretty=format:'%C(bold blue)%h%C(reset) %C(green)(%ar) %C(white)- %C(reset)%C(yellow)%d%C(reset) %C(white)%s%C(reset)' \
              origin/develop origin/${{ inputs.domain_branch }} > git-graph.log
            cat git-graph.log
            echo ''
            echo '```'
          } | tee -a $GITHUB_STEP_SUMMARY
